#experiencia {
  /* background-color: pink; */
  max-width: 1440px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.2rem 6rem 0rem 12rem;
}

.experiencia-titulo {
  color: #e0e0e0;
  text-transform: uppercase;
  font-size: 8.75rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.experiencia-descricao {
  font-size: 1.5rem;
  color: #525252;
  line-height: 1.3;
  margin-bottom: 3rem;
}

strong {
  color: #292929;
}

.experiencia-habilidades-i {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f0f0;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 18px 26px;
  height: 6.5rem;
  position: relative;
}

.experiencia-habilidades-i h3 {
  font-size: 18px;
  margin-bottom: 0.9rem;
}

.experiencia-habilidades-i p,
li {
  font-size: 14px;
}

.experiencia-habilidades-i ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.experiencia-habilidades-i li {
  text-align: center;
  padding: 4px 8px;
  background-color: #fff;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.tecnologias {
  text-align: end;
}

.experiencia-decoracao {
  position: absolute;
  left: -10px;
  top: 50px;
}
