.projetos-bg {
  width: 100%;
}

.projetos {
  max-width: 1440px;
  margin: 0 auto;
  padding: 6rem 0rem;
}

.projetos-titulo {
  display: inline-block;
  text-transform: uppercase;
  color: #2b2b2b;
  font-size: 78px;
  margin-bottom: 4.5rem;
  margin-left: 8rem;
  padding: 0px;
}

.projetos-titulo span {
  font-size: 84px;
  color: #deac47;
}

.projetos div {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 1.5rem;
  margin-left: 8rem;
  margin-right: 2rem;
  justify-content: space-around;
}

.projetos-lista {
  border-radius: 5px;
  width: 315px;
}

.projetos-lista li {
  background-color: #f0f0f0;
  color: #3e3e3e;
  text-align: left;
  list-style-type: none;
  padding: 18px 32px;
}

.projetos-descricao {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.projetos-descricao h2 {
  color: #2b2b2b;
  font-size: 36px;
  margin-bottom: 2rem;
}

.projetos-descricao p {
  color: #525252;
  font-size: 24px;
}

[data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.ativo {
  display: flex;
  flex-direction: column;
}

[data-tab="content"] section.ativo.show-right {
  animation: show-right 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

[data-tab="list"] li.ativo {
  border-left: 8px solid #deac47;
  font-weight: bold;
  transition: 0.2s;
}

@media (max-width: 1000px) {
  .projetos-titulo,
  .projetos div {
    margin-left: 2rem;
  }

  .projetos {
    padding-top: 1rem;
  }

  .projetos-titulo {
    font-size: 64px;
    margin-bottom: 3rem;
  }

  .projetos-descricao h2 {
    margin-bottom: 1rem;
  }

  .projetos-descricao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .projetos {
    padding-top: 7rem;
  }

  .projetos-titulo {
    font-size: 48px;
    margin-bottom: 1.5rem;
  }

  .projetos div {
    grid-template-columns: 1fr;
  }

  .projetos-lista {
    font-size: 20px;
    width: auto;
  }
  .projetos-lista li {
    padding: 14px 32px;
  }

  .projetos-descricao {
    grid-column: auto;
  }

  .projetos-descricao h2 {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .projetos-descricao p {
    font-size: 14px;
  }
}
