#experiencia {
  max-width: 1440px;
  margin-bottom: 150px;
  padding: 10rem 6rem 0rem 12rem;
}

.experiencia-titulo {
  text-transform: uppercase;
  color: #2b2b2b;
  font-size: 72px;
  margin-bottom: 4rem;
  text-align: start;
  padding: 0;
}

.experiencia-titulo span {
  font-size: 80px;
  color: #deac47;
}

p,
h2 {
  padding: 0;
  margin: 0;
}

#projetos {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8rem;
  max-width: 1200px;
  margin: auto;
  font-size: 1.5rem;
}

.projetos-lista {
  border-radius: 5px;
  width: 315px;
}

.projetos-lista li {
  background-color: #f0f0f0;
  color: #3e3e3e;
  text-align: left;
  list-style-type: none;
  padding: 18px 32px;
}

.projetos-descricao {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.projetos-descricao h2 {
  color: #2b2b2b;
  font-size: 36px;
  margin-bottom: 2rem;
}

.projetos-descricao p {
  color: #525252;
  font-size: 24px;
}

[data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.ativo {
  display: flex;
  flex-direction: column;
}

[data-tab="content"] section.ativo.show-right {
  animation: show-right 0.5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

[data-tab="list"] li.ativo {
  border-left: 8px solid #deac47;
  font-weight: bold;
  transition: 0.2s;
}
