#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 9rem 4rem 4rem 3rem;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 4rem;
}

.links .contato-item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contato-valor {
  font-size: 17px;
  color: #8f8f8f;
}

.links li {
  padding: 0.5rem 1rem;
  border: 1px solid #373737;
  background-color: #141414;
  border-radius: 2px;
  width: 250px;
}

.links li:hover {
  transition: 0.8s;
  border: 1px solid #f3b842;
}
