.introducao-bg {
  width: 100%;
}

.introducao {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 13rem;
  padding: 11rem 0rem 9rem 0rem;
}

.introducao-imagem {
  border-radius: 50%;
  width: 400px;
}

.introducao-texto {
  padding: 0;
}

.introducao-texto h1 {
  line-height: 1.2;
  font-size: 4.5rem;
  margin-bottom: 2rem;
  color: #141414;
  position: relative;
}

.introducao-texto h1::before {
  content: "";
  display: inline-block;
  width: 3.75rem;
  height: 3.75rem;
  left: -1.5rem;
  top: -0.8rem;
  background-color: #deac47;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.introducao-texto h2 {
  font-size: 1.5rem;
  padding-left: 2px;
  font-weight: 400;
  color: #525252;
}

.introducao-texto img {
  display: inline-block;
  position: relative;
  top: 0.5rem;
  left: 0.25rem;
}

/* .js-introducao {
  animation: show 2s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
} */

@media (max-width: 1200px) {
  .introducao {
    gap: 6rem;
  }

  .introducao-imagem {
    width: 320px;
  }

  .introducao-texto h1 {
    font-size: 3.5rem;
  }

  .introducao-texto h2 {
    font-size: 1rem;
  }

  .introducao-texto img {
    width: 1.2rem;
    top: 0.25rem;
    left: 0.25rem;
  }

  .introducao-texto h1::before {
    width: 3rem;
    height: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    gap: 2.5rem;
    padding-bottom: 5rem;
  }

  .introducao-imagem {
    width: 240px;
  }

  .introducao-texto h1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 600px) {
  .introducao-imagem {
    display: none;
  }

  .introducao-texto h1 {
    margin: 1rem 2rem 0.75rem 2rem;
  }

  .introducao-texto h1::before {
    width: 2.2rem;
    height: 2.2rem;
    left: -0.8rem;
    top: -0.2rem;
  }

  .introducao-texto h2 {
    margin-left: 2rem;
  }
}
